@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .component__decription {
    @apply text-neutral-500 dark:text-neutral-300 my-4;
  }



}

.scroll-top {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  cursor: pointer;
  z-index: 2;
  transition: opacity 0.5s, background 0.3s;
}

.scroll-top:hover {
  background-color: var(--main-color);
}

.scroll-top svg {
  width: 14px;
  height: 14px;
}

.scroll-top[hidden] {
  pointer-events: none;
  opacity: 0;
}

.scroll-top svg {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.5;
  fill: none;
}